/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf8d8;
}

header {
    background-color: #fdf8d8;
    color: white;
    padding: 1em 0;
    text-align: center;
    text-size-ajdust: extralarge;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav ul li {
    padding: 1em;
    cursor: pointer;
    color: white;
}

nav ul li:hover, .tab-link.current {
    background-color: lightslategrey;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

section {
    margin-bottom: 2em;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.left{
    flex: 50%;
}
.right{
    flex:33%;
}
.h1{ 
    text-align: center;
}
.h5{

}
.p1{
    max-width: 700px;
    text-align: left;
}

.tab-content {
    display: none;
    padding: 2em;
    background-color: #e3d5af;
    margin: 2em auto;
    min-width: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab-content.current {
    display: block;
}

.priceframe {
    padding-bottom:500px; 
    position:relative; 
    display:block; 
    min-width: 400px;
}

@media (min-width: 300px) {
  .row{   
    flex-direction: row;
  }
}